<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo8.superflix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.grupo8.superflix.ui.listafilmes.ListaFilmesActivity"></activity>
        <activity android:name="com.grupo8.superflix.ui.detalhesfilme.DetalhesFilmeActivity"></activity>
        <activity android:name="com.grupo8.superflix.ui.principal.PrincipalActivity"></activity>
        <activity android:name="com.grupo8.superflix.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>